$color1: #014548;
$color2: #f16;
$color3: #320d3e;
$color4: #f2aa4cff;

$tcolor1: #fff;

@import "./stylesheet/base/Navbar.scss";
@import "./stylesheet/base/Home.scss";
@import "./stylesheet/base/Footer.scss";
@import "./stylesheet//base/Transition.scss";
@import "./stylesheet/contact/Contact.scss";

.App {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: antiquewhite;

    .fadeOut {
        z-index: 9999;
        opacity: 0.7;
        transition: 1.5s;
    }
    .bg-1 {
        background: $color1 !important;
    }
    .bg-2 {
        background: $color2 !important;
    }
}
